:root{
    --bg-color: #ffffff;
    --text-color: #1f2933;
    --accent-color: #2563eb;
}

.theme-dark{
    --bg-color: #111827;
    --text-color: #e5e7eb;
    --accent-color: #f59e0b;
}

*{
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: 5px solid black;
    text-align: center;
    transition: 0.3s
}

#img-container{
    display: flex;
    justify-content: center;
}

img{
  max-width: 60px;
  margin: 10px 0;
  border-radius: 100%;
}

.menu-toggle{
    height: 45px;
    margin: 15px 0;
    cursor: pointer;
}

#menu{
    height: 25px;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.toggleHidden{
    display: none;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a{
    background-color: var(--accent-color);
    color: var(--text-color);
    border-color: var(--text-color);
    padding: 10px 15px;
    border: 3px solid black;
    border-radius: 8px;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s
}

nav ul li a:hover{
    background-color: #FFD700;
    color: black;
    text-decoration: underline;
}

/* Desktop layout */
@media screen and (min-width: 670px){
    .menu-toggle{
        display: none;
    }

    .toggleHidden{
        display: flex;
    }

    #profile{
        margin: 12px 6px 10px;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 20px;
     }

    nav ul li a{
        margin: 0 20px;
        padding: 10px 15px;
    }
}